<style>
  * {
  font-family: "Courier new", Times, serif;
  }
  div { width: 60%; }
</style>

<center>
<h1> CHITTER </h1>

<form method="post" action="/peep">
  <input type="text" name="new_peep" placeholder="What's on your mind?" />
  <input type="submit" value="Post" />
</form>

<% @peeps.each do |peep| %>
  <div class="peep" style='border: 1px solid black'>
    <h4> <%= peep.text %> </h4>
  </div>
  <br><br>
<% end %>
</center>
