<form method="post" action="/sign-up">
  <input type="text" name="name" placeholder="Full name" />
  <input type="text" name="handle" placeholder="Username" />
  <input type="text" name="email" placeholder="Email address" />
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
